<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akhil.jauntparents">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_place_white_48dp"
            />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbERKvnW-hJDqcA-dvsBwoKuOjx7LMycs" />
        <activity android:name="com.akhil.jauntparents.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akhil.jauntparents.MainActivity"
            android:label="Jaunt"/>
        <activity
            android:name="com.akhil.jauntparents.NotificationActivity"
            android:parentActivityName="com.akhil.jauntparents.MainActivity"
            android:label="Notifications">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akhil.jauntparents.MainActivity" />
        </activity>
        <activity android:name="com.akhil.jauntparents.DetailsActivity"
            />
        <activity android:name="com.akhil.jauntparents.DriverActivity"
            android:label="Driver Details"
            android:parentActivityName="com.akhil.jauntparents.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akhil.jauntparents.MainActivity" />
        </activity>
        <activity android:name="com.akhil.jauntparents.FeedbackActivity"
            android:label="Feedback"
            android:parentActivityName="com.akhil.jauntparents.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akhil.jauntparents.MainActivity" />
        </activity>
        <activity android:name="com.akhil.jauntparents.MapsActivity"
            android:label="Track Driver"
            android:parentActivityName="com.akhil.jauntparents.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akhil.jauntparents.MainActivity" />
        </activity>
        <activity android:name="com.akhil.jauntparents.ProfileActivity"
            android:label="Profile"
            android:parentActivityName="com.akhil.jauntparents.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akhil.jauntparents.MainActivity" />
        </activity>
        <activity android:name="com.akhil.jauntparents.SchoolActivity"
            android:label="School Details"
            android:parentActivityName="com.akhil.jauntparents.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.akhil.jauntparents.MainActivity" />
        </activity>
        <service
            android:name="com.akhil.jauntparents.FirebaseBackgroundService"
            android:exported="false"
            android:process=":remote" >

            <intent-filter>
                <action android:name="com.akhil.jaunt.FirebaseBackgroundService" />
            </intent-filter>
        </service>
        <receiver android:name="com.akhil.jauntparents.StartFirebaseAtBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>